.form-container {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  background: lavender;
  transition: background 0.3s ease, border 0.3s ease;
}

body.dark .form-container {
  background: darkSlateBlue;
  border: 1px solid slateGray;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-sizing: border-box;
}

body.dark input,
body.dark textarea {
  background: ghostWhite;
  border: 1px solid gray;
}

textarea {
  min-height: 3em;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: slateBlue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button .circle {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.success-message {
  color: green;
  margin-top: 15px;
  display: none;
}

