/* ContactForm.css */
.form-container {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  background: lavender;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  min-height: 3em;
}



.button-box {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid DodgerBlue; 
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  padding: 15px;
  background-color: DodgerBlue; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: DeepSkyBlue;
}

 
button .circle {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}
@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.success-message {
  color: green;
  margin-top: 15px;
  display: none;
}

.contact-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: slateBlue;
  font-weight: bold;
}

.social-icon {
  font-size: 3rem;
  color: black;
}