html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: transparent;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em royalBlue);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em skyBlue);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: gray;
}

body.light {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: darkSlateGrey;
  color: white;
  transition: background-color 0.3s ease;
}

body.dark section, 
body.dark .themed-box, 
body.dark .form-container,
body.dark .about-section,
body.dark .projects-section {
  background-color: darkSlateBlue;
  color: white;
  border-radius: 8px;
}